:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-black: #000000;
  --logo-white: #ffffff;
  --stroke-color: #eeeeee;
  --text-color-in-footer: rgba(255, 255, 255, 0.6);
  --bg-primary-color: #2f303a;
  --white-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.black-logo {
  color: var(--logo-black);
}
.white-logo {
  color: var(--logo-white);
}

li {
  list-style-type: none;
}

.nav-item {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}

.contact-item {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--bg-primary-color);
  height: 252px;
}
.address-footer {
  color: var(--logo-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}
.contact-footer {
  color: var(--text-color-in-footer);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* Контейнери */
.header-basis-container{
      display: flex;
      margin-left: 215px;
      margin-right: 215px;
    align-content: center;
}
.header-container {
    display: flex;
    margin: 32px 0;
}

.nav-container {
  display: flex;

}

.header-contact-container {
    display: flex;
      margin: 32px 0;
}
/* Герой */
.hero-section {
  background-color: var(--bg-primary-color);
  height: 600px;
  padding: 200px;
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
}

.button-hero {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
 display: block;
  letter-spacing: 0.06em;
  margin: 30px auto;
}

.button-filter {
  color: var(--primary-text-color);
  background-color: var(--bg-secondary-color);
  cursor: pointer;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Переваги */
.benefits-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чим ми займаємось */
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Картки портфоліо */
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* TODO смотри в чеклист */
